:root {
  --color-1: #AEC9AD;
}

body {
  background-color: var(--color-1);
  margin: 0;
}

.menu {
  background-color: var(--color-1);
  color: #fff;
  position:absolute;
  top: 20px;
  right: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-input {
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 20px; /* Adjust the value to control the roundness of the corners */
  font-size: 14px;
  background-color:#fff;
  color:black;
}

.search-button {
  padding: 20px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 20px; /* Adjust the value to control the roundness of the corners */
  font-size: 14px;
}

.crime-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.crime-box h2 {
  color: #333;
  margin-top: 0;
}

.crime-box p {
  color: #666;
}

